aiofiles
aiohttp>=3.9.3,<4.0
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor>=3.1,<4.0
pymongo>=4.5,<5.0
flask
flask_restful
pillow
psutil
ntgcalls>=1.2.0,<1.3.0
pykeyboard
pyrogram==1.3.5
pytgcalls==0.13.0
python-dotenv
pyyaml==5.3.1
requests
telegraph
gpytranslate
speedtest-cli
spotipy
tgcrypto
Flask==2.2.2
gunicorn==21.2.0
youtube-search
youtube-search-python
multidict>=4.5,<7.0
yarl>=1.0,<2.0
git+https://github.com/yt-dlp/yt-dlp.git
git+https://github.com/joetats/youtube_search@master
git+https://github.com/alexmercerind/youtube-search-python@main
